.cards {
  max-width: 300px;
  display: flex;
}

:root {
    --surface-color: rgb(0, 0, 0);
    --curve: 50;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 4rem 7vw;
    padding: 0;
    list-style-type: none;
  }
  
  .card {
    position: relative;
    display: block; 
    overflow: hidden;
    text-decoration: none;
    border-radius: 1.5vw; 
  }
  
  
  .card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;      
    border-radius: calc(var(--curve) * 2px) 0 0;   
    background-color: var(--colorBlack);      
    transform: translateY(100%);
    transition: .2s ease-in-out;
    justify-content: center;
    text-align: center;
  }
  
  .card:hover .card__overlay {
  transform: translateY(0);
}
  
  .card__header {
    position: relative;
    display: flex;
    gap: 0em;
    padding: 2em;
    border-radius: calc(var(--curve) * 30px) 0 0;    
    background-color: var(--colorBlack);
    transform: translateY(-100%);
    transition: .2s ease-in-out;
    justify-content: center;

  }
  
  .card__arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;      
    z-index: 1;
  }
      
  
  .card:hover .card__header {
    transform: translateY(0);
  }
  
  .card__thumb {
    flex-shrink: 0;
    width: 50px;
    height: 50px;        
  }
  
  .card__header__text {
    height: 30px;
  }

  .card__title {
    font-size: 2em;
    margin: 0 0 .3em;
    color: var(--colorYellow);
  }
  
  .card__tagline {
    display: block;
    margin: 1em 0;
    font-family: "MockFlowFont";  
    font-size: .8em; 
    color: #D7BDCA;  
  }
  
  .card__status {
    font-size: .8em;
    color: #ffffff;
  }
  
  .card__description {
    padding: 0 3em 1em;
    margin: 0;
    color: #D7BDCA;
    font-family: "MockFlowFont";   
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }    

  
  /* ESTILOS DEL MENU DENTRO DE LA CARD */

.dots {
  display: flex;
  position: absolute;
  margin-top: 40px;
  width: 100%;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.35);
}

.dot {
  background: var(--colorGreenDark);
  border-radius: 50%;
  height: 10px;
  margin-right: 6px;
  width: 10px;
}
.dot:last-child {
  margin-right: 0;
}
.drop {
  background: #fff;
  height: 5px;
  transform: translateY(0);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 4px;
}
.shadow {
  height: 440px;
  justify-content: center;
  left: 50%;
  opacity: 0;
  position: absolute;
  transform: translateX(-50%) translateY(4px);
  transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 365px;
}
.list {
  margin-top: 40px;
  margin-left: -65px;
  left: 50%;
  position: absolute;
  transform: translateX(0);
  width: 100%;
  opacity: 0;
  z-index: 99;
  transition: opacity 100ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dots:hover .list {
  opacity: 1;
  transform: translateX(0);
}

.list li {
  cursor: pointer;
  background-color: var(--colorYellow);
  align-items: center;
  display: flex;
  font-size: 18px;
  height: 50px;
  width: 125px;
  list-style: none;
  transition: opacity 100ms cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none;
  -moz-user-select: none;
  justify-content:center;
  border-radius: 5px;
  transition: 0.3s;
}
.list li:hover {
  background: var(--colorGreenLight);
  color: var(--colorWhite)
}
.dots.active .container {
  transform: translateX(-50%) translateY(20px);
}
.dots.active .drop {
  transform: translateY(212px) scale(108);
}
.dots.active .list li {
  cursor: pointer;
  opacity: 1;
  transition: opacity 200ms 100ms cubic-bezier(0.4, 0, 0.2, 1);
}
.dots.active .list li:nth-child(2) {
  transition-delay: 130ms;
}
.dots.active .list li:nth-child(3) {
  transition-delay: 160ms;
}
.dots.active .list li:nth-child(4) {
  transition-delay: 190ms;
}
.dots.active .list li:nth-child(5) {
  transition-delay: 220ms;
}
.dots.active .shadow {
  opacity: 1;
  transition: opacity 150ms 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cursor {
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  height: 40px;
  position: absolute;
  top: 0px;
  width: 80px;
}

.buttonVerMasContainer {
  display: flex;
  padding: 25px;
  justify-content: center;
  justify-items: center;
  margin-top: -5px;
  width: 100%;

}
