 .card {
    display: flex;
    background-image: url(https://w0.peakpx.com/wallpaper/950/628/HD-wallpaper-coding-2019-code-iphone-iphone11-pro-joker-new-samsung.jpg);
    background-size: cover;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    border-radius: 1.5vw; 
    width: 250px;
    height: 70vh;
    max-height: 390px;
    margin: max(10px, 3vw);
    box-shadow: 0.4rem 0.4rem 0 0 #0b0b0b, 0.7rem 0.7rem 0 0 #1e1e1e, 1rem 1rem 0 0 #323232, 1.2rem 1.2rem 0 0 #464646, 1.2rem 1.2rem 0 0 #595959, 0.4rem 0.4rem 1rem 0.4rem var(--colorBlack); 
  }
  
  
  .card__overlay {
    background-color:var(--colorBlack);
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;      
    border-radius: calc(var(--curve) * 2px) 0 0;   
    transform: translateY(100%);
    transition: .2s ease-in-out;
    justify-content: center;
    text-align: center;
  }
  
  .card:hover .card__overlay {
  transform: translateY(0);
}
  
  .card__header {
    background-color: var(--colorBlack);
    background-size: cover;
    position: relative;
    display: flex;
    padding: 0.1em;
    border-radius: calc(var(--curve) * 30px) 0 0;    
    transform: translateY(-100%);
    transition: .2s ease-in-out;
    justify-content: center;

  }
  
  .card__arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;      
    z-index: 1;
  }
      
  
  .card:hover .card__header {
    transform: translateY(0);;
  }
  
  .card__thumb {
    flex-shrink: 0;
    width: 50px;
    height: 50px;        
  }
  
  .card__header__text {
    height: 10px;
    margin-bottom: 11vh;
  }

  .card__title {
    font-size: 2em;
    margin: 0 0 .3em;
    padding-top: 4vh;
    color: var(--colorYellow);
  }
  
  .card__tagline {
    display: block;
    margin: 1em 0; 
    font-size: .8em; 
  }
  
  .card__status {
    font-size: .8em;
    color: #ffffff;
  }
  
  .card__description {
    margin: auto;
    width: 85% ;
    text-align: justify;
    color: var(--colorWhite);   
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }    

  
  /* ESTILOS DEL MENU DENTRO DE LA CARD */

.dots {
  display: flex;
  position: absolute;
  margin-top: 40px;
  width: 100%;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
  background-color: rgba(14, 14, 14, 0.665);
  color: black;
  background-size: cover;
}

.dot {
  background: var(--colorWhite);
  border-radius: 50%;
  height: 10px;
  margin-right: 6px;
  width: 10px;
}
.dot:last-child {
  margin-right: 0;
}
.drop {
  background: var(--colorWhite);
  height: 5px;
  transform: translateY(0);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 4px;
}
.shadow {
  height: 440px;
  justify-content: center;
  left: 50%;
  opacity: 0;
  position: absolute;
  transform: translateX(-50%) translateY(4px);
  transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 365px;
}
.list {
  margin-top: 40px;
  margin-left: -65px;
  left: 50%;
  position: absolute;
  transform: translateX(0);
  width: 100%;
  opacity: 0;
  z-index: 99;
  transition: opacity 100ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dots:hover .list {
  opacity: 1;
  transform: translateX(0);
  transition: 0.3s;
}

.list li {
  cursor: pointer;
  background-color: var(--colorYellow);
  align-items: center;
  display: flex;
  font-size: 18px;
  height: 50px;
  width: 33%;
  margin-left: 28px;
  margin-top: -5px;
  list-style: none;
  transition: opacity 100ms cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none;
  -moz-user-select: none;
  justify-content:center;
  border-radius: 5px;
  transition: 0.3s;
}
.list li:hover {
  background: var(--colorGreenLight);
  color: var(--colorWhite)
}
.dots.active .container {
  transform: translateX(-50%) translateY(20px);
}
.dots.active .drop {
  transform: translateY(212px) scale(108);
}
.dots.active .list li {
  cursor: pointer;
  opacity: 1;
  transition: opacity 200ms 100ms cubic-bezier(0.4, 0, 0.2, 1);
}
.dots.active .list li:nth-child(2) {
  transition-delay: 130ms;
}
.dots.active .list li:nth-child(3) {
  transition-delay: 160ms;
}
.dots.active .list li:nth-child(4) {
  transition-delay: 190ms;
}
.dots.active .list li:nth-child(5) {
  transition-delay: 220ms;
}
.dots.active .shadow {
  opacity: 1;
  transition: opacity 150ms 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cursor {
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  height: 40px;
  position: absolute;
  top: 0px;
  width: 80px;
}

.buttonVerMasContainer {
  display: flex;
  padding: 25px;
  justify-content: center;
  justify-items: center;

}

.card:hover {
  box-shadow: 5px 5px 20px rgba(0,0,0, 0.9) ;
  transition: 0.3s;
}




