.Announcements {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  min-height: calc(100vh - 140px);
}

.containerAnnouncement {
  height: auto;
  width: 100%;
  background-color: var(--colorGray);
  padding: 1rem;
  margin: 1rem;
  border-radius: 5px;
  display: flex;
}

.containerButton {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.button {
  background-color: var(--colorYellow);
  color: var(--colorBlack);
  border-radius: 10px;
  padding: 10px;
  max-width: 200px;
  text-align: center;
  margin: 1rem;
  box-shadow: 5px 5px 10px -2px var(--colorBlack);
  cursor: pointer;
}

.button:hover {
  background-color: var(--colorGreenLight);
  color: var(--colorWhite);
  transition: 0.3s;
}

.containerAnnouncements {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.containerAnnouncement {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.containerText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.buttonsActions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1rem;

}

.containerRight {
  margin-right: 0;
}

.createdAt {
  font-size: 14px;
}

.button__delete {
  display: flex;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
}

.modal {
  display: block;
}

.modal_active {
  display: flex;
}