.deliveryContainer {
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.containerOne {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    margin: auto;
}

.summaryProject {
    display: flex;
    flex-direction: column;
    background-color: var(--colorYellowOpacity);
    box-shadow: 6px 10px 10px var(--colorBlackOpacity);
    border-radius: 8px;
    margin-top: 1vh;
    margin-bottom: 4vh;
    width: 85%;
    align-items: center;

}

.img_preview {
    background-color: var(--colorGray);
    width: 100%;
    height: 35vh;
    margin-bottom: 1.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0px 4px 15px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.image {
    max-height: 98%;
    max-width: 95%;
    height: auto;
    width: auto;
}

.summaryProject input {
    margin-bottom: 2vh;
}

.summaryProject textarea {
    margin-bottom: 2vh;
}

.addTagsProject {
    margin-left: 2vh;
    background-color: transparent;
}

.addTagsProject:hover {
    color: var(--colorGreenLight);
    transition: 0.3s;
}

@media only screen and (max-width: 750px) {
    .img_preview {
        width: 99%;
        height: 50vh;
        margin-bottom: 1.5vh;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: inset 0px 4px 15px rgba(0, 0, 0, 0.5);
        overflow: hidden;
    }
}