/* ------------- LOGIN--------------- */
.container-login {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
}

.login-form-content{
  display: flex;
  flex-direction: column;
  gap: 20px 0 !important;
}
.login-page{
  height: 80vh;
  width: 100%;
  max-width: 400px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  padding: 25px;
  background-color: #ffffff;
}
.form {
  margin-top: 50px;
}
.logo {
  width: 80%;
  display: block;
  margin: auto;
}
.button-login {
  color: #E3E3E3;
  text-transform: uppercase;
  font-weight: bold ;
  background-color: #000000 ;
  margin: 45px auto;
  padding: 10px;
  width: 60% ;
  display: block ;
  cursor: pointer ;
  border: none;
  border-radius: 10px;
}
.login-page p {
  font-size: 14px;
  cursor: pointer;
  margin: 15px 0;
  font-weight: 600;
}
.login-page a {
  font-size: 14px;
  color: #000;
  font-weight: 600;
}
.login-page a:hover {
  color: #ffd808;
}
input{
  border-radius: 10px;
}

/* ------------- MEDIA QUERIES --------------- */
@media (max-width: 1290px) { 
  .login-page {
    height:100%;
  }
 }
@media (max-width: 1238px) {
  .container-register-page {
    height:90%;
  }
 }
@media (max-width: 1059px) {
  .form {
    margin-top: 70px;
  }
  .button-login { 
    margin: 50px auto 30px auto; 
  }
  .login-page{
    height: 85%;
  }
}

@media (max-width: 300px) {
  .button-login {
    margin: 20px auto;
  }
}

