/* ------------- LOGIN--------------- */


.container-login {
  align-items: center;
  display: flex;
  justify-content: space-between;
  min-height: calc(90vh);
  padding: 10px;
  width: 100%;
  
}
.login-form-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

input {
  border: transparent;
  min-height: 40px;
  width: 100%;
	padding: 10px;
	border-radius: 10px;
  margin: 10px 0;
	background-color: var(--colorWhite);
  box-shadow: 2px 1px 5px black;
 ;
}
.title{
  font-size: 30px;
  color: rgb(99, 96, 96);
  font-weight: bold;
 
}
.group{
  width: 100px;
  margin: 0;

}
h4{
  font-size: 20px;
  display: inline-block;
  position: relative;
  font-weight: bold;
  color: gray;
}
h4::after,h4::before{
  content: " ";
  position: absolute;
  width: 70px;
  height: 1px;
  background-color: rgb(104, 104, 104);
  top: 0.6em;

}

h4::before{
  left: -1px;
}
h4::after{
  right: -10px;
}

input::placeholder {
  padding-left: 10px; 
            }
.login-form-content * {
  padding: 0;

  margin: 0;
}
.login-page {
  background-color: var(--colorWhite);
  border-radius: 14px;
  height: auto;
  max-width: 450px;
  width: 500px;
  padding: 25px;
  border: 1px solid;
  box-shadow: 5px 5px 5px rgb(39, 38, 38);
 margin: 0 30px;
   
}
.form {
 margin: 40px 0;

}
.logo , .logo2 {
  width: 250px;
  height: 100px;
  position: relative;
  right: 100px;
  bottom: 100px;
 

}
.redes{
  display: flex;
  justify-content: flex-end;
}
link .clave{
  color: gray;
}

.button-login {
  background-color: var(--colorYellow);
  border-radius: 10px;
  border: none;
  color: #000000;
  cursor: pointer;
  display: block;
  font-weight: bold;
  margin: 30px auto;
  padding: 10px;
  text-transform: uppercase;
  width: 60%;
}
.button-login:hover {
  background-color: var(--colorYellow);
  color: var(--colorBlack);
  transition: 0.3s;
}
.login-page p {
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  margin: 15px 0;
}
.login-page a {
  text-decoration:underline;
  font-size: 16px;
  color: gray;
  font-weight: 600;
  padding: 5px;
}
img.agora{
  width: 400px;
}
hr{
  background-color:var(--colorBlack)
}
.requerid{
  color: blueviolet !important;
  text-decoration:underline;
  display: flex;
  justify-content: flex-end;
  margin: 10px 0;
}
.redes img{
  width: 40px;
  height: 40px;
}

/* ------------- MEDIA QUERIES --------------- */

@media (max-width: 1220px) {
  h4::after,h4::before{
    width: 40px;
  }
 
  h4{
    font-size: 16px;
  }
  h4::before{
    left: -25px;
  }
  h4::after{
    right: -25px;
  }
  .title{
    font-size: 20px;
  }
   
  
  .login-page a {
    font-size: 10px;
  }
  .redes img{
    width: 25px;
    height: 25px;
  }
  
 
 
}

@media (max-width: 1059px) {
  .form {
    margin-top: 70px;
  }
  .button-login {
    margin: 50px auto 30px auto;
  }
  .login-page {
    height: 85%;
    width: 700px;
    margin: auto;
  }
}

@media (max-width: 900px) {
  .button-login {
    margin: 20px auto;
  }
  .logo {
    width: 200px;
    height: 80px;

  }
  .group {
    width: 70px;
}
  .container-login{
    display: block;
    width: 100px;
   margin: auto;
  }
  h4::before{
    left: -10px;
  }
  h4::after{
    right: -10px;
  }
  h4::after,h4::before{
    width: 90px;
  }
  .logo {
 
    left: 50px;
      top: 0px;
  
  }
}
