.cohorts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .typing_demo {
    width: 16ch; 
    animation: typing 1s steps(22), blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
  }
  
  @keyframes blink {
    20% {
      border-color: transparent;
    }
  }