.nav{
  display: flex;
  width: 250px;
  height: calc(auto - 70px);
  background-color: var(--colorBlack);
}
.ul{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.link{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 11px;
  width: 100%;
  padding-left: 25px;
}
.nav li{
  width: 250px;
  text-align: center;
  margin-top: 1rem;
}
.nav li:hover{
  background-color: var(--colorWhite);
  width: 100%;
}
.link:hover{
  background-color: var(--colorWhite);
}
.nav_text{
  color: var(--colorYellow);
  font-size: 18px;
}
.link:hover > span{
 color: var(--colorBlack);
}
.icon{
  margin-right: 1rem;
  color: var(--colorYellow);
}
.link:hover .icon{
  color: var(--colorBlack);
  width: 100%;
}
.link_active .icon{
  color: var(--colorBlack);
}
.link_active .nav_text{
  color: var(--colorBlack);
}
.link_active{
  background-color: var(--colorWhite);
  width: 100%;
  align-items: center;
}