 /*acordeon principal */ 

 @import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

 * {
   margin: 0;
   font-family: Roboto, sans-serif;
 }
 
  /*acordeon copetencias */
  h1{
   width: 30px;
   height: 27px;
   background-color: #0d0e0d;
   margin: -20px;
   padding: 10px;
   font-size: 20px;
   color: #fbff00;
 }
 .descripcion{
   font-size: 20px;
   font-weight: normal;
 }
  .contenedor{
    width: 100%;
  } 
 
 .accordion-wrapper {
   width: 70%;
   display: block;
   box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
   margin: 0 auto;
   margin-top: 5px;
 }
 
 .accordion + .title {
   user-select: none;
   height: 40px;
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: space-between;
   background: #C4C4C4;
   border-radius: 10px;
 }
 
  .title strong {
   line-height: 24px;
   color: rgb(0, 0, 0);
 }
 
 .accordion ~ .title .side-icon {
   display: block;
 }
 
 .accordion:checked ~ .title .side-icon {
   display: none;
 }
 
 .accordion ~ .title .down-icon {
   display: none;
 }
 
 .accordion:checked ~ .title .down-icon {
   display: block;
 }
 
 .accordion ~ .content {
   display: none;
   cursor: pointer;
 }
 
 .accordion:checked ~ .content {
   display: block;
 }
 
  /*acordeon niveles */ 
 
 header{
   background: #666;
   color: #fff;
   width: 80%;
   height: 120px;
   margin: 0 auto;
 }
 
 #main{
   width: 100%;
   box-sizing: border-box;
   overflow: hidden;
 }
 
 footer{
   color: #fff;
   width: 80%;
   margin: 0 auto; 
 }
 
 #tabs{
   position: relative;
 }
 
 
 span.diana {
   position: fixed;
   display: none;
   }
 
 .diana + a {
   width: 33.3%;
   height: 50%;
   display: flex;
   justify-content: center;
   float: left;
   line-height: 52px;
   background-color: #A7DB56;
   text-decoration:none;
 }
 
 .diana:target + a {
   background-color: #B7E077;
   border-bottom-color: #fff; 
 }
 
 #pnl_1, #pnl_2, #pnl_3{
   position: absolute;
   top: 31px;
   left: 0;
   border: none;
   clear: both;
   overflow: hidden;
   display: grid;
   grid-template-columns: 1fr 1fr;
 }
 .text{
   text-align: left;
 }
 
   #pnl_1 > div, #pnl_2 > div, #pnl_3 > div{
     opacity: 0;
     transition: all 0.1s ease;
     padding: 30px;
   }
 
 #uno:target ~ #pnl_1, #dos:target ~ #pnl_2, #tres:target ~ #pnl_3{
   position: static;
   border: 1px solid #ddd;
 }
 
   #uno:target ~ #pnl_1 > div, #dos:target ~ #pnl_2 > div, #tres:target ~ #pnl_3 > div{
     opacity: 1;
     transition: all 1s ease;
   }
 
   #uno1:target ~ #pnl_1, #dos1:target ~ #pnl_2, #tres1:target ~ #pnl_3{
     position: static;
     border: 1px solid #ddd;
   }
   
     #uno1:target ~ #pnl_1 > div, #dos1:target ~ #pnl_2 > div, #tres1:target ~ #pnl_3 > div{
       opacity: 1;
       transition: all 1s ease;
     }
   
   
 
 
 
 
 
   
 