.btn {
  position: relative;
  padding: 16px 50px;
  display: inline-block;
  border-radius: 50px;
  transition: all 0.2s;
  background: linear-gradient(
    90deg,
    var(--colorYellow),
    rgb(240, 231, 100),
    var(--colorYellow)
  );
  cursor: pointer;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn::after {
  background-color: rgb(240, 231, 100);
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn a {
  color: var(--colorBlack);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
}