.yellowButton {
    background-color: var(--colorYellow);
    color: var(--colorBlack);
    border-radius: 10px;
    padding: 10px;
    width:auto;
    text-align: center;
    box-shadow: 5px 5px 10px -2px #000000;
}

.yellowButton:hover {
    background-color: var(--colorGreenLight);
    color: var(--colorWhite);
    transition: 0.3s;
}
