.conteiner{
  min-height: calc(100vh - 145px);
  padding: 1rem;
}
.button_return {
  align-self: flex-start;
  background-color: var(--colorYellow);
  border-radius: 10px;
  color: var(--colorBlack);
  display: flex;
  font-weight: bold;
  max-width: 100px;
  padding: 10px;
  text-align: center;
  width: auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-left: 1vh;
  margin-top: 1vh;
  cursor: pointer;
}

.button_return:hover {
  background-color: var(--colorBlack);
  color: var(--colorYellow);
  transition: 0.3s;
}
.userTable {
  border-collapse: inherit;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  margin: 5vh;
  text-align: center;
  width: 90%;
}
.userTableProfile {
  border-collapse: inherit;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  text-align: center;
  width: 100%;
}
.userTable th,
.userTable td {
  background-color: var(--colorGray);
  color: var(--colorBlack);
  padding: 15px;
}
.userTable th {
  text-align: left;
}
.userTable thead th {
  background-color: var(--colorYellow);
  text-align: center;
}
.userTable tbody tr:hover {
  background-color: var(--colorGreenLight);
}
.userTable tbody td {
  position: relative;
}
@keyframes rote {
  0% {
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  50% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
}
.studentsTableContainer {

  display: flex;
  overflow: hidden;
  overflow-x: auto;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  width: 100%;
}
