.formContainer {
    display: flex;
    flex-direction: column;
    justify-items: center;
    min-height: calc(100vh - 150px);
    margin: 1vw;
  }
  .form {
    display: flex;
    flex-direction: column;
  }
  .container{
      display: flex;
      flex-direction: row;
  }
  .containerOne {
    display: flex;
    flex-direction: column;
    width: 49vw;
    margin: 2rem;
  }
  .containerTwo {
    display: flex;
    flex-direction: column;
    width: 49vw;
    margin: 2rem;
  }
  .line{
      border-bottom: 2px solid var(--colorBlack);
      width: 100%;
  }
  
  
  .frameofcompetence {
    margin-top: 3vh;
    margin-bottom: 3vh;
  }
  
  .resourcesContainer {
    margin-top: 4vh;
    margin-bottom: 4vh;
    background-color: var(--colorGray);
    border-radius: 8px;
    padding: 3vh;
    display: flex;
    flex-direction: row;
    box-shadow: 6px 10px 10px var(--colorBlackOpacity);
  
  }
  
  .deleterResourcesContainer {
    margin-top: 3vh;
  }
  
  .deleterResourcesContainer a {
    display: flex;
    width: 80px;
    padding: 2vh;
    border-radius: 1px;
    background-color: var(--colorYellowOpacity);
    justify-content: center;
    justify-items: center;
  }
  
  .dateTimeDelivery input {
    margin-top: 55px;
    background-color: var(--colorYellowOpacity);
    box-shadow: none;
    box-shadow: 6px 10px 10px var(--colorBlackOpacity);
  
  }
  
  .summaryProject {
    display: flex;
    flex-direction: column;
    background-color: var(--colorGray);
    box-shadow: 6px 10px 10px var(--colorBlackOpacity);
    border-radius: 8px;
    margin-top: 1vh;
    margin-bottom: 4vh;
  
    padding: 3vh;
  }
  
  .summaryProject input {
    margin-bottom: 2vh;
  }
  
  .summaryProject textarea {
    margin-bottom: 2vh;
  }
  
  .tagsProject {
    display: flex;
    width: 100%;
    align-items:center
  
  }
  
  .addTagsProject {
      margin-left: 2vh;
      background-color: transparent;
  }
  
  .addTagsProject:hover {
      color: var(--colorGreenLight);
      transition: 0.3s;
  }
  
  .tag {
    width: 100%;
    padding: 2vh;
    border-radius: 50px;
    text-align: center;
    overflow: hidden;
  }
  
  .tagContainer {
    display: flex;
    background-color: var(--colorYellowOpacity);
    width: 30vh;
    border-radius: 20px;
  }
  
  .tagContainer button {
    background-color: transparent;
  }
  
  .tagContainer button:hover {
    color: var(--colorRed);
    transition: 0.2s;
  }
  
  .tagsProject {
    display: flex;
    flex-direction: row;
  }
  
  .deleteTag {
    margin-left: 1vh;
    margin-right: 3.5vh;
  }
  
  .contextContainer {
    background-color: var(--colorGray);
    box-shadow: 6px 10px 10px var(--colorBlackOpacity);
    padding: 3vh;
    border-radius: 1px;
    margin-top: 15px;
    margin-bottom: 25px;
  }
  
  .inputsdeliveries {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 3vh;
  }
  
  .inputsdeliveries {
    color: transparent;
  
  }
  
  .addCompetence {
    background-color: transparent;
  }
  
  .deliveryContainer {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    background-color: var(--colorGray);
    border-radius: 15px;
  }
  
  .container_submit button {
    padding: 1.5vh;
    background-color: var(--colorYellow);
    border-radius: 10px;
  }
  
  .container_submit button:hover {
    background-color: var(--colorGreenLight);
    color: var(--colorWhite);
    border-radius: 10px;
    transition: 0.3s;
  }
  
  .buttonAdd {
    background-color: transparent;
  }
  
  .buttonAdd:hover {
    color: var(--colorGreenLight);
    transition: 0.3s;
  }
  
  .container_submit button:hover {
    color: var(--colorGreenLight);
    color: var(--colorWhite);
    transition: 0.3s;
  }
  
  .container_submit {
    display: flex;
    justify-content: flex-end;
  }
  