/* -------------RESET PASSWORD --------------- */
.container-main-resetPassword {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 90vh;
  padding: 2rem;
  height: auto;
}
.container-resetPassword {
  background-color: var(--colorWhite);
  border-radius: 14px;
  height: auto;
  max-width: 450px;
  width: 500px;
  padding: 25px;
  border: 1px solid;
  box-shadow: 5px 5px 5px rgb(39, 38, 38);
 margin: 0 30px;
}
.container-main-resetPassword{
  background-image: url(../../../assets/icons/fondo.svg);
}

.container-info-resetPassword{
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    gap: 15px 0;
}
h2.title-resetPassword {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
  }
  .button-resetPassword{
    font-weight: bold;
    background-color: var(--colorYellow);
    margin: 0px auto;
    padding: 10px;
    border-radius: 5px;
    width: 40%;
    box-shadow: 5px 5px 5px rgb(39, 38, 38);
    display: block;
  }
  .button-resetPassword:hover{
    cursor: pointer;
  }
  .button_return {
    position: absolute;
    margin-left:-2rem;
    margin-top:-2rem;
    background-color: var(--colorYellow);
    border-radius: 10px;
    color: var(--colorBlack);
    display: flex;
    font-weight: bold;
    max-width: 100px;
    padding: 10px;
    text-align: center;
    width: auto;
    cursor: pointer;
  }
  .button_return:hover {
    background-color: var(--colorBlack);
    color: var(--colorYellow);
    transition: 0.3s;
  }
  @media (max-width: 1000px){

    .container-main-resetPassword {
      display: block;
      height: 40%;
      width: 500px;
      margin: auto;
    }
    .logo{
      width: 200px;
      height: 80px;
      display: block;
      left: 60px;
      bottom: auto;
    }
    .container-resetPassword {
      max-width: 400px;
      width: 300px;

      }
      .button-resetPassword{
      
        width: 80%;
      
    }
    h2.title-resetPassword{
      font-size: 15px;
    }

  }
  @media (max-width: 1200px){
    .button-resetPassword{
      
      width: 50%;
      font-size: 12px;
  }
  h2.title-resetPassword{
    font-size: 16px;
  }
  }

  @media (max-width: 900px){
    .logo {
      width: 200px;
      height: 80px;
      display: flex;
      margin: auto;
    }
    .logo {
      left: 0px;
      top: 0px;
    }
    img.agora {
      margin: 0 10px;
      display: flex;
    }
    .container-resetPassword {
      max-width: 400px;
      width: 500px;
      margin: 0 0px;

      }
  }
  @media (max-width: 500px) {
    .container-resetPassword {
      max-width: 400px;
      width: 270px;
      margin: 0 0px;

      }
   
    img.agora {
     width: 280px;
      margin: 0px;
   
    }
    .logo {
      margin: 0 10px;
        left: 40px;
     
    }
    .button-resetPassword{
      
      width: 60%;
      height: auto;
      font-size: 12px;
  }
  h2.title-resetPassword{
    font-size: 14px;
  }
   
  }
  