/* -------------RESET PASSWORD --------------- */
.container-main-resetPassword {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  padding: 2rem;
  height: auto;
}
.container-resetPassword {
  height: auto;
  width: 100%;
  max-width: 400px;
  box-shadow: 0.4rem 0.4rem 0 0 var(--colorBlack); 
  border-radius: 14px;
  padding: 50px;
  background-color: var(--colorGray);
}
.container-info-resetPassword{
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    gap: 15px 0;
}
.title-resetPassword {
    text-align: center;
    font-size: 17px;
    margin-top: 20px;
  }
  .button-resetPassword{
    font-weight: bold;
    background-color: var(--colorYellow);
    margin: 0px auto;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    display: block;
  }
  .button-resetPassword:hover{
    background-color: var(--colorGreenLight);
    transition: 0.3s;
  }
  .button_return {
    position: absolute;
    margin-left:-2rem;
    margin-top:-2rem;
    background-color: var(--colorYellow);
    border-radius: 10px;
    color: var(--colorBlack);
    display: flex;
    font-weight: bold;
    max-width: 100px;
    padding: 10px;
    text-align: center;
    width: auto;
    cursor: pointer;
  }
  .button_return:hover {
    background-color: var(--colorBlack);
    color: var(--colorYellow);
    transition: 0.3s;
  }