@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

.container {
  display: flex;
  flex-direction: column;
  height: auto;
   min-height: calc(100vh - 140px);  
  justify-content: center;
  margin: auto;
}



.container img{
  width: 70%;
  height: 20%;
  margin-left: 9rem;
  margin-bottom: 20rem;
  justify-content: center;
  position: absolute;
  background-size: cover; 
  border: 7px solid var(--colorYellow);
}

.containerProfile {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  left: 0;
  height: auto;
  padding: 6vh;
  background-color: #f9f9f9;
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.3) inset;
}

.containerProfile i {
  font-size: 17px;
}

.cajaIns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 60px;
}

.cajaIns img {
  margin-left: 5px;
  margin-top: 5px;
  width: 150px;
  height: 150px;
  box-sizing: border-box;
  filter: drop-shadow(4px 4px 3px var(--colorBlackOpacity));
  border-radius: 50%;
  position: relative;
}

.backround_profile {
  width: 175px;
  height: 175px;
  background-color: #afafaf;
  border-radius: 50%;
}

.chargeimg {
  background-color: rgb(255, 255, 255);
  box-shadow: -2px 2px 6px 1px rgb(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 5px;
  width: 25px;
  height: 25px;
  margin-left: 150px;
  position: absolute;
  overflow: hidden;
  cursor: pointer;
}


.chargeimg:hover {
  background-color: #d1d1d1;
}

.chargeimg img {
  width: 13px;
  margin-top: -67px;
  margin-left: -1px;
  filter: drop-shadow(0px 0px 0px var(--colorBlackOpacity));
}

.button_return {
  align-self: flex-start;
  background-color: #4a484a;
  border-radius: 10px;
  color: var(--colorWhite);
  font-weight: bold;
  height: 50px;
  padding: 10px;
  text-align: center;
  width: auto;
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  margin-left: 3.5rem;
  transition: 0.3s all;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}
.button_return i {
  color: var(--colorWhite);
}
.button_return:hover i {
  color: var(--colorYellowOpacity);
}
.button_return:hover {
  transform: translateX(-5px);
  background-color: var(--colorHoverNav);
  transition: 0.3s all;
}

.cajaName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  color: var(--colorWhite);
}

.cajaName h2 {
  font-family: "Roboto", sans-serif;
  color: #232323;
  font-size: 30px;
}

.cajaName p {
  font-family: "Roboto", sans-serif;
  color: #9d9d9d;
  font-size: 19px;
}

.cajaUlt_container {
  position: relative;
}

.iconcajaUlt {
 color: var(--color-Yellow);
  margin-left: 1rem;
  top: 24px;
  left: 20px;
  z-index: 3;
  border-right: 1px solid #5f5f5f;
  padding-right: 5px;
}

.cajaLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cajaUlt {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 0;
}

.cajaUlt:last-child {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  padding: 10px;
}

.cajaUlt > input:not(.input__imageURL) {
  padding-left: 2.5rem;
}

.cajaUlt > input{
  display: flex;
  margin-bottom: 5px;
  width: 170px;
  height: 45px;
  background-color: #bbbbbb;
  box-shadow: none;
  border-radius: 15px;
  margin-left: 20px;
  position: relative;
  overflow: hidden;
}

input{
    border: transparent;
    min-height: 40px;
    width: 100%;
    border-radius: 10px;
    margin: 10px 0;
    background-color: var(--colorWhite);
    box-shadow: 2px 1px 5px var(--colorBlack);
    padding: 0 10px;
}

.cajaUlt > button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 35px;
  border-radius: 50px;
  color: 454544;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #232323;
  background: var(--colorYellow);
  cursor: pointer;
}

.cajaUlt > button:hover {
  background: #232323;
  color: white;
}

.tableCompetences {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 80vw;
  padding: 5vh 0;
}

.tableCompetences h3 {
  margin-top: 10vh;
}

@media (max-width: 700px) {
  .containerProfile {
    flex-direction: column;
    height: auto;
  }
  .container img{
    width: 70%;
    height: 20%;
    margin-left: 9rem;
    margin-bottom: 20rem;
    justify-content: center;
    position: absolute;
    background-size: cover; 
    border: 7px solid var(--colorYellow);
  }
  

  .buttonVolver {
    margin-left: 20px;
    margin-top: 10px;
  }

  .cajaIns {
    align-items: center;
    margin-left: 0;
  }

  .cajaName {
    margin-top: 15px;
    align-items: center;
  }

  .cajaLink {
    margin-top: 15px;
  }

  .cajaUlt input {
    align-items: center;
  }
}
