.container {
  width: 100%;
  display: flex;
  word-break: break-all;
  flex-direction: row;
  align-content: stretch;
  justify-content: center;
  margin-bottom: 100px;
  height: auto;
}

.bloc_tabs {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 320px;
}
.tabs {
  padding: 8px;
  text-align: center;
  width: 100%;
  background: var(--colorYellow);
  cursor: pointer;
  border-radius: 10px 0px 0px 10px;
  box-sizing: content-box;
  position: relative;
  outline: none;
}
.tabs:not(:last-child) {
  border-right: 1px solid var(--colorBlack);
}

.active_tabs {
  background: var(--colorBlack);
  color: var(--colorWhite);
}

.active_tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
  background: var(--colorGreenLight);
  border-radius: 10px;
}

button {
  border: none;
}
.content_tabs {
  height: 200px;
  width: 900px;
}
.content {
  height: 350px;
  display: flex;
  flex-direction: column;
  background: var(--colorGray_20);
  padding: 15px;
  display: none;
}

.content hr {
  background: var(--colorBlack);
}
.content p {
  width: 100%;
  height: 100%;
}
.active_content {
  display: block;
}
