.container {
  align-content: stretch;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  align-items: center;
  padding: 2vh;
  width: 80vw;
  word-break: break-all;
  font-family: 'Roboto', sans-serif;

}

.proyectrow{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.name {
  align-items: center;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
  margin: auto;
  min-width: 95%;
  
}
.name h4 {
  width: 90%;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
}
.bloc_tabs {
  display: flex;
  height: auto;
  max-height: 200px;
  width: 93%;
  justify-content: center;
  gap: 0.5rem;
  margin-left: 0.5rem;
}
.bloc_tabs button {
  border: none;
}
.links {
  border-bottom: 2px solid #aeaeae;
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
  padding: 5px;
  margin-bottom: 2rem;
  width: 80%;
}
.links a {
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-border-radius: 10px;
  align-items: center;
  background-color: var(--colorYellow);
  border-radius: 50px;
  color: var(--colorBlack);
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 8px 15px ;
  margin-bottom: 2rem;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
}



.links a:hover {
  background-color: #454544;
  color: white;
  transition: 0.2s;
}
.tabs {
  background: #BABABA;
  border-radius: 10px 10px 0px 0px;
  color: #5F5F5F;
  box-sizing: content-box;
  cursor: pointer;
  outline: none;
  padding: 8px;
  position: relative;
  text-align: center;
  width: 50%;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.active_tabs {
  background: var(--colorYellow);
  color: #454544;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
}


.content_tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}
.content {
  background: var(--colorGray);
  display: flex;
  display: none;
  flex-direction: column;
  height: auto;
  min-height: 100%;
  min-width: 100%;
  padding: 15px;
}
.content hr {
  background: var(--colorBlack);
}
.content p {
  height: auto;
  width: 100%;
}
.active_content {
  background: white;
  border: 3px solid #616161;
  display: flex;
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 100%;
  min-width: 95%;
  padding: 15px;
}
@media (max-width: 700px) {
  .container {
    flex-direction: column;
  }
  .bloc_tabs {
    font-size: 13px;
  }
  .content_tabs {
    width: 100%;
  }
  .links {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
}
