.userTable {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
  margin: 5vh;
  text-align: center;
  width: 90%;
  
}


.userTableProfile {
  border-collapse: inherit;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  text-align: center;
  width: 100%;
  
}
.userTable th,
.userTable td {
  background-color: var(--colorWhite);
  color: var(--colorBlack);
  padding: 5px;
  
}
.userTable td{
  border-bottom: 6px solid Var(--colorGray);
}
.userTable th {
  text-align: left;

}
.userTable thead th {
  background-color: var(--colorGray);
  text-align: center;
  color: var(--colorBlack);
  
  
}
.userTable tbody tr:hover {
  background-color: var(--colorGreenLight);
}
.userTable tbody td {
  position: relative;
}

.userTable i{
  font-size: 30px;
  color: var(--colorYellow_65);
  transition: color 0.2s ease-in-out;
}

.userTable i:hover{
  text-decoration: none;
  color: var(--colorBlack);
} 
@keyframes rote {
  0% {
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  50% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
}
.delete {
  background-color: transparent;
  color: var(--colorBlack);
  font-size: 25px;
  text-align: center;
}
.delete:hover {
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-name: rote;
  color: rgb(255, 61, 61);
  transition: 0.3s;
}
.edit {
  background-color: transparent;
  color: var(--colorBlack);
  font-size: 20px;
  text-align: center;
}
.edit:hover {
  color: var(--colorGreenLight);
  transition: 0.3s;
}




