/* -------------RESET PASSWORD --------------- */

.container-info-resetPassword{
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    gap: 15px 0;
}
.title-resetPassword {
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
    color: rgb(99, 96, 96);
    font-weight: bold;
  }
  .container-info-resetPassword h3{
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    font-size: 20px;
    color: rgb(99, 96, 96);
  }
  .redes-sociales{
    display: flex;
    justify-content: space-between;
  
  }
  .redes-sociales img{
    width: 50px;
    height: 50px;
  
  }

  .button_return {
    position: absolute;
    margin-left:-2rem;
    margin-top:-2rem;
    background-color: var(--colorYellow);
    border-radius: 10px;
    color: var(--colorBlack);
    display: flex;
    font-weight: bold;
    max-width: 100px;
    padding: 10px;
    text-align: center;
    width: auto;
    cursor: pointer;
  }
  .button_return:hover {
    background-color: var(--colorBlack);
    color: var(--colorYellow);
    transition: 0.3s;
  }