.textarea{
    width: 100% !important;
    height: 100px;
    margin:16px ;
    border: 1px solid #6f6f6f;
    outline: none;
    padding:10px;
    border-radius: 10px;
    background-color: var(--colorGray_20);
    box-shadow: inset 0px 6px 15px rgba(0, 0, 0, 0.2);
};

