.formContainer {
  flex-direction: row;
  justify-items: center;
  min-height: calc(100vh - 150px);
  margin: 1rem;
}
.button_return {
  align-self: flex-start;
  background-color: #ffd808;
  border-radius: 10px;
  color: var(--colorBlack);
  display: flex;
  font-weight: bold;
  max-width: 100px;
  padding: 10px;
  text-align: center;
  width: auto;
}
.button_return:hover {
  background-color: var(--colorBlack);
  color: #ffd808;
  transition: 0.3s;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.typing_demo {
  width: 12ch;
  animation: typing 1s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
}
.typing_upgrade {
  width: 14ch;
  animation: typing 1s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  20% {
    border-color: transparent;
  }
}

.form {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  min-height: calc(100vh - 325px);
}

.container {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.textarea {
  margin: 1rem;
}
.containerOne {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
}

.inputName {
  margin: 1rem;
  width: 80%;
}

.numberC {
  margin: 1rem;
  width: 60px;
}

.containerTwo {
  display: flex;
  padding: 1vh 0vh;
  justify-content: space-around;
  flex-wrap: wrap;
}

.buttonAdd {
  display: flex;
  align-items: center;
}

.buttonAdd:hover {
  color: var(--colorYellow);
  transition: 0.4s;
}

.containerFormadores {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.select {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}
.select select {
  height: 30px;
  width: 100%;
}
.teacherSelect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 40px;
  margin: 0.5rem;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--colorGray_20);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
}

.texto {
  padding: 1vh;
  text-align: start;
  color: black;
}

.finalDate {
  display: flex;
  flex-direction: column;
  margin-bottom: 2vh;
}

.finalDate label,
.finalDate input {
  margin: 0;
}

.initialDate {
  display: flex;
  flex-direction: column;
  margin-bottom: 2vh;
}

.initialDate label,
.initialDate input {
  margin: 0;
}

.file {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.img_preview {
  background-color: var(--colorGray);
  width: 35vw;
  height: 35vh;
  margin-bottom: 1.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0px 4px 15px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.image {
  width: 100%;
}
.container_submit {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}

.buttonCreateCohort {
  display: flex;
  background-color: var(--colorYellow);
  padding: 1.5vh;
  border-radius: 10px;
  margin-right: 4vh;
  -webkit-box-shadow: 0px 3px 0px #97790291;
}

.buttonCreateCohort:hover {
  background-color: var(--colorGreenLight);
  color: var(--colorWhite);
  transition: 0.3s;
  -webkit-box-shadow: 0px 3px 0px #0e6b1191;
}

.createCohort {
  display: flex;
  justify-content: flex-end;
  margin: 0vh 5vh 4vh;
}

@media only screen and (max-width: 700px) {
  .form {
    display: flex;
    flex-direction: column-reverse;
    min-height: calc(100vh - 400px);
    align-items: center;
    justify-content: center;
    margin-bottom: 3vh;
  }
  .initialDate {
    margin-bottom: 4vh;
  }

  .finalDate {
    margin-bottom: 4vh;
  }

  .file {
    width: 25vh;
  }

  .inputName {
    width: 100%;
  }

  h1 {
    padding-bottom: 2.5vh;
  }

  .buttonAdd {
    margin-bottom: 6vh;
  }

  .createCohort {
    margin-top: 6vh;
  }

  .formContainer {
    width: 100%;
  }
  .inputs {
    display: flex;
    width: 87%;
  }

  .img_preview {
    width: 100%;
  }
}
