footer {
  padding: 5px 0;
  color: rgb(218, 218, 218);
  background-color: black;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: 35px auto;
  width: 90%;
}

.footerContainer p {
  margin-bottom: 0;
}

.LogosFooterContainer {
  display: flex;
  align-items: center;
}

.LogosFooterContainer > img {
  height: 36px;
}

.socialNetworksContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 130px;
}

.notificationsConfigContainer {
  display: flex;
  align-items: center;
}

.notificationsConfigContainer > i {
  margin-left: 10px;
}

.sign {
  font-size: 15px;
  margin-right: 1rem;
}

@media (max-width: 885px) {
  .footerContainer {
    flex-direction: column;
    align-items: center;
  }

  .socialNetworksContainer {
    order: 1;
  }

  .LogosFooterContainer {
    order: 2;
    margin: 30px 0;
  }

  .footerContainer p {
    order: 3;
    margin-bottom: 0;
  }

}
