.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
  margin: auto;
}

.containerModal {
  height: 30rem;
  width: 65%;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background: #ffffff;
  box-shadow: 0px 4px 4px var(--colorBlackOpacity);
}

.close button {
  cursor: pointer;
  display: flex;
  justify-content: right;
  margin-top: 20px;
  margin-right: 20px;
  align-self: flex-end;
  background-color: transparent;
}

.close button i{
  margin-left: 20px;
}

.containerTitle {
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  justify-content: center;
}

.containerTitle u{
  font-size: 50px;
  text-decoration: none;
  font-weight: 800;
}

.containerTitle u::after{
  content: '';
  position: absolute;
  bottom: -3px;
  right: 0;
  background-color: var(--colorYellow);
  width: 100px;
  height: 6px;
  transition: 0.4s ease;
}

.containerTitle u:hover::after{
  right: 70%;
  transition: 0.4s ease;
}

.containerTitle u::before{
  content: '';
  position: absolute;
  top: -6px;
  left: 0;
  background-color: var(--colorYellow);
  width: 180px;
  height: 6px;
  transition: 0.4s ease;
}

.containerTitle u:hover::before{
  left: 48%;
  transition: 0.4s ease;
}

.Crear{
  display: flex;
  justify-content: center;
}
.submitButton {
  cursor: pointer;
  background-color:rgb(53, 53, 53);
  font-weight: 500;
  color: var(--colorWhite);
  border-radius: 50px;
  margin: 25px;
  padding: 10px;
  width: 25%;
  text-align: center;
  box-shadow: 5px 5px 10px -2px var(--colorBlack);
  font-size: 20px;
  transition: 0.3s;
  position: relative;
}

.submitButton::after{
  content: '';
  position: absolute;
  width: 160px;
  height: 4px;
  background-color: var(--colorYellow);
  bottom: 0;
  left: 40px;
  border-radius: 25px;
}


.submitButton:hover {
  background-color: var(--colorYellow);
  color: rgb(53, 53, 53);
  transition: 0.3s;
}

.close{
  margin-left: 15px;
}


.modalInp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

}

.modalInp input {
  width: 50vw;
  height: 52px;
  left: 31px;
  top: 90px;
  background: var(--colorWhite);
  box-shadow: inset 2px 4px 15px var(--colorBlackOpacity);
}

.modalInp textarea {
  width: 50vw;
  height: 155px;
  left: 31px;
  margin-top: 10px;

  background: var(--colorWhite);
  box-shadow: inset 4px 4px 13px var(--colorBlackOpacity);
}

.modalButton button {
  display: flex;
  justify-content: center;
  color: var(--colorWhite);
  align-items: center;
  font-size: 20px;
  margin-top: 15px;
  margin-left: 30%;
  width: 320px;
  height: 50px;
  background: var(--colorBlack);
  box-shadow: 4px 4px 4px var(--colorBlackOpacity);
  border-radius: 10px;
}

.icon{
  background-color: chartreuse;
}


@media (max-width: 700px) {

  .containerModal {
    width: 360px;
    height: 65%;
  }

  .containerTitle {
    font-size: 12px;
    margin-top: 15px
  }

  .modalInp {
    margin-top: 10px;
  }

  .modalInp input {
    width: 300px;
    height: 40px;
  }

  .modalInp textarea {
    width: 300px;
  }

  .modalButton button {
    width: 250px;
    height: 40px;
    margin-left: 50px;
  }
}
