input[type="file"] {
    color: transparent;
  }
  .button_container{
    display: flex;
    width: 90%;
    justify-content: space-between;
  }
  .button_return {
    align-self: flex-start;
    background-color: var(--colorYellow);
    border-radius: 10px;
    color: var(--colorBlack);
    display: flex;
    font-weight: bold;
    margin: 30px 0 0 30px;
    max-width: 100px;
    padding: 10px;
    text-align: center;
    width: auto;
  }

  .button_clear {
    align-self: flex-end;
    background-color: var(--colorYellow);
    border-radius: 10px;
    color: var(--colorBlack);
    display: flex;
    font-weight: bold;
    margin: 30px 0 0 30px;
    max-width: 100px;
    padding: 10px;
    text-align: center;
    width: auto;
  }

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }
  
  .typing_demo {
    width: 16ch;
    animation: typing 1s steps(22), blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
  }
  
  @keyframes blink {
    20% {
      border-color: transparent;
    }
  }
  .button_return:hover, .button_clear:hover {
    background-color: var(--colorBlack);
    color: var(--colorYellow);
    transition: 0.3s;
  }
  .container__columns {
    width: 90%;
    margin: 20px auto;
    display: flex;
  }
  .input__createBoot {
    width: 100% !important;
    height: 35px;
    margin: 10px 0;
    border: 1px solid #6f6f6f;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    box-shadow: inset 0px 6px 15px rgba(0, 0, 0, 0.2);
  }
  .textarea__createBoot {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: inset 0px 6px 15px rgba(0, 0, 0, 0.2);
  }
  .column__one {
    width: 50%;
  }
  
  .column__one input {
    margin-top: 25px;
    margin-bottom: 30px;
  }
  
  .column__two {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 25px;
  }
  .img_preview {
    background-color: var(--colorGray);
    width: 35vw;
    height: 35vh;
    margin-bottom: 1.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0px 4px 15px var(--colorBlackOpacity);
    overflow: hidden;
  }
  
  .image {
    max-height: 98%;
    max-width: 95%;
    height: auto;
    width: auto;
  }

  .input__logoURL {
    width: 35vw;
    height: 35px;
    margin-left: 50px;
    border: 1px solid var(--colorBlack);
    outline: none;
    padding: 10px;
    border-radius: 10px;
    box-shadow: inset 0px 6px 15px rgba(0, 0, 0, 0.2);
  }
  .submit{
    width: 125px;
    background-color: var(--colorYellow);
    margin-top: 50px;
    margin-left: 40px;
    cursor:pointer;
  }

  .submit:hover {
    background-color: var(--colorGreenLight);
    color: var(--colorWhite);
    transition: 0.4s;
  }
  @media only screen and (max-width: 700px) {
    .container__columns {
      flex-direction: column;
      align-items: center;
    }
    .column__one{
      width: 80%;
    }
    .column__two {
      width: 80%;
      margin-left: 0px;
    }
    .img_preview{
      width: 100%;
    }
    .input__logoURL{
      width:100%;
    }
    .submit{
      width: 35vw;
    }
  
  }