.formContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin-bottom: 3vh;
  margin-left: 5vw;
  width: 90vw;
}
.containerModal {
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgb(185, 185, 185);
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 20px auto;
  padding: 15px;
  width: 80%;
  gap: 2vh;
}
.InitialContainer {
  align-self: flex-start;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 3vh;
  width: 100%;
}
.secondContainer {
  background-color: var(--colorYellowOpacity);
  border-radius: 8px;
  box-shadow: 6px 10px 18px var(--colorBlackOpacity);
  margin-bottom: 4vh;
  margin-top: 1vh;
  padding: 3vh;
  width: 90%;
}
.secondText {
  align-items: center;
  background-color: var(--colorBlackOpacity);
  border-radius: 8px;
  box-shadow: 0px 0px 20px var(--colorBlackOpacity);
  display: flex;
  flex-direction: column;
  margin-bottom: 2vh;
  margin-top: 4vh;
  padding: 3vh;
  width: auto;
}
.img_preview {
  width: auto;
  margin: 20px auto;
  padding: 10px;
  margin-bottom: 1.5vh;
  overflow: hidden;
  box-shadow: inset 0px 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
.img_preview img {
  width: 800px;
  height: 200px;
  object-fit: cover;
  max-width: 100%;
  max-height: 95%;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  transition: all .5s;
}
.img_preview img:hover {
  transform: scale(1.2);
  overflow: hidden;
}

.cajaTitle {
  background: var(--colorWhite);
  border-bottom: 1 solid;
  border-bottom: 1px solid var(--colorBlack);
  display: flex;
  height: 17%;
  justify-content: space-around;
  margin: 0;
  width: 100%;
}
.button_return {
  width: auto;
  margin-left: 1vh;
  margin-top: 2vh;
  padding: 10px;
  max-width: 100px;
  color: var(--colorWhite);
  font-weight: bold;
  text-align: center;
  align-self: flex-start;
  border-radius: 10px;
  background-color: var(--colorBlackOpacity);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  cursor: pointer;
  transition: 0.3s all;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}
.button_return i {
  color: var(--colorWhite);
}
.button_return:hover i {
  color: var(--colorYellowOpacity);
}
.button_return:hover {
  transform: translateX(-5px);
  background-color: var(--colorHoverNav);
  transition: 0.3s all;
}
.title {
  background: var(--colorYellow);
  border-radius: 50px;
  display: flex;
  height: auto;
  justify-content: center;
  margin-bottom: 15px;
  margin-left: 40px;
  margin-top: 30px;
  padding: 2vh;
  width: 75%;
}
.title > h2 {
  align-items: center;
  display: flex;
  font-size: 25px;
  font-weight: 40px;
  justify-content: center;
  letter-spacing: 0.05em;
  line-height: 10px;
  margin: 0;
  text-decoration-line: underline;
}
.icon {
  display: flex;
  justify-content: right;
  margin-right: 10px;
  margin-top: 5px;
}
.cajaDiv {
  background: var(--colorWhite);
  display: flex;
  flex-direction: column;
  height: 90%;
  margin: 10px auto;
  width: 95%;
}
.subTitle {
  align-items: center;
  display: flex;
  height: 30px;
  justify-content: center;
  width: 100%;
}
.subTitle > h6 {
  font-size: 16px;
}
.cajaMedia {
  display: flex;
  height: 100%;
  width: 100%;
}
.chat {
  background: var(--colorYellow_65);
  border-radius: 10px;
  margin: auto;
  width: 95%;
  order: 2;
  display: flex;
  align-items: center;
}
.segundoFondo {
  background: var(--colorWhite);
  border-radius: 10px;
  box-shadow: 0 5px 5px rgb(88, 86, 86);
  display: flex;
  height: 200px;
  margin: 15px;
  width: 90%;
}
.addTagsProject {
  background-color: transparent;
  cursor: pointer;
  margin: 10px;
}
.addTagsProject:hover {
  color: var(--colorYellow);
  transition: 0.3s;
}
.segundoFondoestudiantes {
  background: var(--colorWhite);
  display: flex;
  flex-direction: column;
  height: 250px;
  margin: 15px;
  overflow-y: scroll;
  padding: 15px;
  width: 95%;
}
.segundoFondoestudiantes h4{
  color: var(--colorBlackOpacity);
}
.segundoFondoestudiantes::-webkit-scrollbar {
  width: 5px;
  overflow-x: hidden;
}

.segundoFondoestudiantes::-webkit-scrollbar-track {
  background: var(--colorGray);
}

.segundoFondoestudiantes::-webkit-scrollbar-thumb {
  background-color: var(--colorNav);
  border-radius: 10px;
  border: 8px solid transparent;
}
.segundoFondoestudiantes h5 {
  display: inline-block;
}
.contInpLink {
  align-items: center;
  border-right: 2px solid var(--colorBlackOpacity);
  display: flex;
  gap: 10px;
  justify-content: space-around;
  margin: 0px 15px;
  width: auto;
}
.contInpLink input {
  margin-bottom: 10px;
  width: 100%;
}
.contInpLinkIntern {
  width: 70%;
}
.contInpLink i {
  color: var(--colorBlackOpacity);
}
.inputDes {
  align-items: center;
  display: flex;
  margin-bottom: 10px;
  width: 90%;
}
.inputDes > textarea {
  border-radius: 10px;
  width: 100%;
}
.secondText > button {
  align-self: flex-end;
  align-items: center;
  color: var(--colorWhite);
  background-color: var(--colorYellowOpacity);
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  font-weight: 700;
  text-transform: uppercase;
  outline: 0;
  border: 0;
  padding: 5px 10px;
  margin: 15px 0 5px 0;
}

.secondText > button:before {
  background-color: var(--colorWhite);
  content: "";
  display: inline-block;
  height: 1px;
  margin-right: 10px;
  transition: all 0.42s cubic-bezier(0.25, 0.8, 0.25, 1);
  width: 0;
}

.secondText > button:hover:before {
  width: 3rem;
  background-color: var(--colorHoverNav);
}

.inputDes__intern label {
  margin-left: 15px;
}
.cajaUltima {
  border-left: 1px solid var(--colorBlack);
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  padding-left: 15px;
  width: 40%;
}
.textTime {
  padding-right: 20px;
  text-align: end;
}
.calif {
  display: flex;
  flex-direction: column;
  padding: 0%;
  width: 100%;
}
.icons {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}
.icons > div {
  align-items: center;
  background-color: var(--colorYellow);
  border-radius: 10px;
  display: flex;
  height: 30px;
  justify-content: center;
  width: 70px;
}
.icons > h4 {
  display: flex;
  margin-left: 40px;
  margin-top: 5px;
}
.boton {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.boton button {
  align-items: center;
  background-color: var(--colorYellow);
  border-radius: 5px;
  border-style: none;
  height: 25px;
  width: 60px;
}
/* ---styles render resources */
.container__tagsModal {
  margin-left: 15px;
  width: 90%;
}
.tagContainer {
  align-items: center;
  background-color: var(--colorYellowOpacity);
  border-radius: 20px;
  box-shadow: 6px 10px 10px var(--colorBlackOpacity);
  display: flex;
  justify-content: space-between;
  margin-bottom: 2vh;
  margin-top: 1vh;
  padding: 0 30px;
  width: auto;
}
.tagContainer button {
  background-color: transparent;
}
.tagContainer button:hover {
  color: var(--colorRed);
  transition: 0.2s;
}
.linkIcon {
  color: dodgerblue;
}
.tagText {
  max-width: 100%;
  text-align: justify;
}
.tagText button {
  margin: 10px;
}
.tagText p {
  text-align: justify;
}
.tag {
  border-radius: 50px;
  overflow: hidden;
  padding: 2vh;
  text-align: center;
  width: 100%;
}
.containerModal input,
.containerModal textarea {
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
  transition: 300ms ease-in-out;
}

.containerModal input:focus,
.containerModal textarea:focus {
  background-color: var(--colorYellow_65);
  transform: scale(1.05);
  box-shadow: 13px 13px 100px #969696, -13px -13px 100px #fff;
}

@media (max-width: 1024px) {
  .formContainer {
    flex-direction: column;
  }
  .InitialContainer {
    align-self: center;
    margin: 10px;
    padding: 10px;
  }

  .containerModal {
    margin: 2vh auto;
  }
  .chat {
    flex-direction: column;
  }
}

@media (max-width: 700px) {
  .chat {
    flex-direction: column;
    height: auto;
    width: 95%;
  }
  .secondContainer {
    flex-direction: column;
    width: 95%;
  }
  .containerModal {
    height: auto;
    margin: 0px;
    padding: 0px;
    width: 100%;
  }
  .secondText {
    flex-direction: column;
    width: 100%;
  }
  .contInpLink {
    border-right: 0px solid var(--colorBlack);
    flex-direction: column;
    width: 100%;
    border-bottom: 2px solid var(--colorBlack);
    margin: 0;
  }
  .cajaTitle,.contInpLinkIntern {
    width: 100%;
  }
  .title {
    margin-left: 30px;
    width: 70%;
  }
  .title > h2 {
    font-size: 20px;
  }
  .cajaDiv {
    height: auto;
    width: 100%;
  }
  .cajaMedia {
    flex-direction: column;
    height: auto;
    margin: 0px auto;
    width: 90%;
  }
  .primerFondo {
    height: auto;
    width: 100%;
  }
  .segundoFondo {
    height: 200px;
    width: 90%;
  }
  .inputDes {
    margin-bottom: 15px;
    width: 90%;
  }
  .cajaUltima {
    border-left: none;
    box-shadow: 0 5px 5px rgb(88, 86, 86);
    margin: 10px auto;
    width: 90%;
  }
  .boton {
    margin: 10px;
  }
}
