.containerModal{
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    width: 80%;
    height: auto;
    box-shadow:0 10px 10px rgb(185, 185, 185);
    border-radius: 10px;
    align-items: center;  
}

.cajaTitle{
    display: flex;
    justify-content: space-around;
    background: var(--colorWhite);
    border-bottom: 1 solid;
    width:100%;
    height: 17%;
    margin: 0;
    border-bottom: 1px solid var(--colorBlack);
}
.button_return {
    align-self: flex-start;
    background-color: var(--colorYellow);
    border-radius: 10px;
    color: var(--colorBlack);
    display: flex;
    font-weight: bold;
    max-width: 100px;
    padding: 10px;
    text-align: center;
    width: auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-left: 1vh;
    margin-top: 3vh;
  }
  
  .button_return:hover {
    background-color: var(--colorBlack);
    color: var(--colorYellow);
    transition: 0.3s;
  }
  



.title{
    display: flex;
    justify-content: center;
    background: var(--colorYellow);
    width: 75%;
    height: auto;
    margin-left: 40px;
    margin-top: 30px;
    margin-bottom: 15px;
    border-radius: 50px;
    padding: 2vh;
}

.title >h2{
    display: flex;
    justify-content: center;
    letter-spacing: 0.05em;
    text-decoration-line: underline;
    font-weight: 40px;
    font-size: 25px;
    line-height: 10px;
    align-items: center;
    margin: 0;
}

.icon{
    display: flex;
    justify-content: right;
    margin-right: 10px;
    margin-top: 5px;
}

.cajaDiv{
    display: flex;
    flex-direction: column;
    background: var(--colorWhite);
    margin: 10px auto;
    width: 95%;
    height: 90%;
 
    
}

.subTitle{
    display: flex;
    justify-content: center;
    height: 30px;
    width: 100%;
    align-items: center;
}

.subTitle >h6{
    font-size: 16px;
}

.cajaMedia{
    width: 100%;
    display: flex;   
    height: 100%;
    
}

.primerFondo{
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 100%;
    background: rgba(146, 193, 73, 0.3);
    border-radius: 10px;
    
}

.segundoFondo{
    display: flex;
    width: 90%;
    height: 200px;
   margin: 15px;
    background: var(--colorWhite);
    box-shadow:0 5px 5px rgb(88, 86, 86);
    border-radius: 10px;

}

.addTagsProject{
    background-color: transparent;
    cursor: pointer;
}
.segundoFondoestudiantes{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 250px;
    margin: 15px;
    padding: 15px;
    background: var(--colorWhite);
    box-shadow:0 5px 5px rgb(88, 86, 86);
    border-radius: 10px;
    overflow-y: scroll;
}

.segundoFondoestudiantes h5{
    display: inline-block;
}

.contInpLink{
    width: 88%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 15px;
    gap: 10px;
}
.contInpLink input{ 
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
 }

 .contInpLinkIntern{
     width: 95%;
 }

.inputDes{
    
    display: flex;
    align-items: center;
    margin:0px 15px;
    margin-bottom: 10px;

}

.inputDes >textarea{
    width: 86%;
    border-radius: 10px;
    
}

.inputDes >button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    width: 55px;
    height: 25px;
    border-radius: 5px;
    border-style: none;
    background-color: var(--colorYellow);
    cursor:pointer;
    margin-left: 5px;
}
.inputDes__intern label{
    margin-left: 15px;
}

.cajaUltima{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    border-left: 1px solid var(--colorBlack);
    padding-left: 15px;
    width: 40%;
        
}
.textTime{
text-align: end;
padding-right:20px ;
}

.calif{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0%;

}

/* .calif p{
    margin: 0%;
} */

.icons{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    
    
}

.icons >div{
    background-color: var(--colorYellow);
    width: 70px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.icons >h4{
    display: flex;
    margin-left: 40px;
    margin-top: 5px;

}

.boton{
    display: flex;
    justify-content: end;
    margin-top: 20px;
}

.boton button{
    background-color: var(--colorYellow);
    border-style: none;
    height: 25px;
    width: 60px;
    align-items: center;
    border-radius: 5px;

}

/* ---styles render resources */

.container__tagsModal{
    width: 90%;
    margin-left: 15px;
}

.tagContainer {
    display: flex;
    background-color: var(--colorYellowOpacity);
    width: auto;
    border-radius: 20px;
    align-items: center;
    justify-content: space-between;
    margin-top: 1vh;
    box-shadow: 6px 10px 10px var(--colorBlackOpacity);
    margin-bottom: 2vh;
    padding: 0 30px;
  }
  
  .tagContainer button {
    background-color: transparent;
  }
  
  .tagContainer button:hover {
    color: var(--colorRed);
    transition: 0.2s;
  }
  .linkIcon {
    color: dodgerblue
  }
  .tagText {
    max-width: 100%;
    text-align: justify;
  }
  
  .tagText p {
    text-align: justify;
  }
  .tag {
    width: 100%;
    padding: 2vh;
    border-radius: 50px;
    text-align: center;
    overflow: hidden;
  }
  
@media (max-width: 1000px) {
    .containerModal{
        width: 85%;
    }
}


@media (max-width: 700px) {
    .containerModal{
        width: 100%;
        height: auto;
        padding: 0px;
        margin: 0px
        
    }

    .cajaTitle{
       width: 100%;
    }

    .title{
        width: 70%;
        margin-left: 30px; 
    }

    .title >h2{
        font-size: 20px;
    }

    .cajaDiv{
        width: 100%;
        height: auto;        
    }

    .cajaMedia{
        flex-direction: column;
        height: auto;
        width: 90%;
        margin: 0px auto;
      
    }

    .primerFondo{
        width: 100%;
        height: auto;
    }

    .segundoFondo{
        width: 90%;
        height: 200px;
    }

    .inputDes{
        width:90%;
        margin-bottom: 15px;
    }

    .cajaUltima{
        width: 90%;
        margin: 10px auto;
        border-left: none;
        box-shadow:0 5px 5px rgb(88, 86, 86);
    }

    .boton{
        margin: 10px;
    }

}