.projects {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.buttonCreateProject {
    display: flex;
    width: auto;
    justify-content: flex-end;
    margin-right: 4vh;
}

