.Dashboard {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-height: calc(100vh - 140px);
}

.container {
  width: 75%;
  margin-top: 15px;
  max-height: calc(100vh - 70px);
  overflow-x: hidden;
  overflow-y: scroll;
  border-radius: 10px;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, .1);
}

.container::-webkit-scrollbar {
  width: 3px;
  overflow-x:hidden;
}

.container::-webkit-scrollbar-track {
  background: var(--colorGray);
}

.container::-webkit-scrollbar-thumb {
  background-color: var(--colorNav);
  border-radius: 10px;
  border: 8px solid transparent;
}

@media (max-width: 700px) {
  .Menu {
    display: none;
  }
}
