.course {
	background-color: var(--colorGray);
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	max-width: 100%;
	margin: 20px;
	overflow: hidden;
	width: 700px;
}

.course h6 {
	opacity: 0.6;
	margin: 0;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.course p{
	letter-spacing: 0.5px;
	margin: 10px 0;
}



.coursePreview {
	background-color: var(--colorGray);
	color: #fff;

}


.coursePreview img {
	width: 200px;
	height: 200px;
	margin: 30px;
}

.courseInfo {
	padding: 20px;
	position: relative;
	width: 100%;
}

.progressContainer {
	position: absolute;
	top: 30px;
	right: 30px;
	text-align: right;
	width: 150px;
}

.btn {
	background-color: #2A265F;
	border: 0;
	border-radius: 50px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	color: #fff;
	font-size: 16px;
	padding: 10px 15px;
	position: absolute;
	bottom: 30px;
	right: 30px;
	letter-spacing: 1px;
}

