.cohort {
  background-color: var(--colorGray_20);
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  padding: 1rem;
  margin: 3vh;
  overflow: hidden;
  width: 60vw;
  min-height: 30vh;
}

.cohortInfo h3 {
  text-align: center;
}

.cohort p {
  letter-spacing: 0.5px;
  text-align: center;
}

.cohortImage {
  width: 25vh;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: white;
}

.cohortImage img {
  width: 100%;
}

.cohortInfo {
  text-align: justify;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: auto;
}

.cohort h5 {
  font-weight: bolder;
  margin-top: 2vh;
  text-align: center;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: space-evenly;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .cohort {
    flex-direction: column;
  }

  .cohortImage {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vh auto;
    background-color: white;
  }

  .buttonsContainer {
    justify-content: space-evenly;
    align-items: space-evenly;
    margin: 2vh auto;
    gap: 2vh;
  }
}
