
.cohort {
  background: url(../../../assets/logos/fondo2.png);
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  height: 250px;
  margin: 3vh;
  overflow: hidden;
  width: 60vw;
}

.cohort:hover{
  background: url(../../../assets/logos/fondo.png);
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  height: 300px;
  margin: 3vh;
  overflow: hidden;
  width: 60vw;
}
.cohortInfo h3 {
  text-align: center;
}
.cohort p {
  letter-spacing: 0.5px;
  text-align: center;
}

.cohortImage:hover{
  transform: translateY(0);
}
.cohortImage img {
  height: auto;
  max-height: 100%;
  max-width: 100%;
  width: 300px;
  height: 300px;
  
}
.cohortInfo {
  align-items: center;
  justify-content: center;
  margin: auto;
  text-align: justify;
  width: 40%;
}
.cohort h5 {
  font-weight: bolder;
  margin-top: 2vh;
  text-align: center;
}
.buttonsContainer {
  align-items: space-evenly;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 15%;
}
@media (max-width: 768px) {
  .cohort {
    flex-direction: column;
    height: auto;
    width: 90%;
  }
  .cohortImage {
    align-items: center;
    background-color: var(--colorWhite);
    display: flex;
    height: 150px;
    justify-content: center;
    margin: 2vh auto;
    width: 100%;
  }
  .buttonsContainer {
    gap: 2vh;
    margin: 2vh auto;
    width: 90%;
  }
  .cohortInfo {
    width: 90%;
  }
}
