@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@font-face {
  font-family: 'Gilroy-Light';
  src: url('./assets/font/Gilroy-Light.otf');
}
@font-face {
  font-family: 'Gilroy-Bold';
  src: url('./assets/font/Gilroy-ExtraBold.otf');
}

* {
  font-family: 'Gilroy-ExtraBold', 'Gilroy-Light';
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
}
h1, h2, h3{
  font-family:  'Roboto', sans-serif;
}
body {
  background: var(--colorWhite);
}

i {
  font-size: 20px;
  cursor: pointer;
}

i:hover {
  color: var(--colorYellow);
}

li {
  list-style: none;
}

p {
  margin-bottom: 0;
}

:root{
 --colorBackground:#E5E5E5;
 --colorWhite:#FEFEFE;
 --colorGreenDark:#1A2818;
 --colorBlack:#010101;
 --colorGray:#D7D7D7;
 --colorGreenLight:#92C149;
 --colorGreenLight_31: rgba(145, 193, 73, 0.31);
 --colorYellow:#FFCC02;
 --colorYellow_65: rgba(255, 204, 2, 0.65);
}
