@media (min-width:1025px) {
  header {
    padding: 2px;
    background-color: var(--colorHeader);
    box-shadow: 0px 2px 10px var(--colorBlackOpacity);
    border-radius: 50px;
    margin: 10px;
  }

  .headerContainer {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .Logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    width: 170px;
    margin-left: 3rem;
  }

  .Logo img {
    width: 100%;
  }

  .iconsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .linksHeader {
    margin: 0 10px;
    color: var(--colorBlack);
  }

  .linksHeader:hover {
    font-weight: bold;
    color: var(--colorBlack);
    text-decoration: none;
  }

  .iconsContainer>div {
    display: flex;
    align-items: center;
    margin-left: 30px;
  }


  .btnConfig {
    text-decoration: none;
    margin-left: 10px;
    font-size: 20px;
  }

  .hamburguerMenu {
    display: none;
    cursor: pointer;
    margin-left: 1rem;
  }

  .link_singIn {
    text-transform: uppercase;
    margin: 10px;
    color: var(--colorWhite);
  }

  .link_singIn:hover {
    color: #222222;
  }

  .p {
    margin: 10px;
  }
}

/*Tablet Horizontal*/
@media (min-width:761px) and (max-width:1024px) and (orientation:landscape) {
  header {
    padding: 2px;
    background-color: var(--colorHeader);
    box-shadow: 0px 2px 10px var(--colorBlackOpacity);
    border-radius: 50px;
    margin: 10px;
  }

  .headerContainer {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .Logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    width: 170px;
    margin-left: 3rem;
  }

  .Logo img {
    width: 100%;
  }

  .iconsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .linksHeader {
    margin: 0 10px;
    color: var(--colorBlack);
  }

  .linksHeader:hover {
    font-weight: bold;
    color: var(--colorBlack);
    text-decoration: none;
  }

  .iconsContainer>div {
    display: flex;
    align-items: center;
    margin-left: 30px;
  }


  .btnConfig {
    text-decoration: none;
    margin-left: 10px;
    font-size: 20px;
  }

  .hamburguerMenu {
    display: none;
    cursor: pointer;
    margin-left: 1rem;
  }

  .link_singIn {
    text-transform: uppercase;
    margin: 10px;
    color: var(--colorWhite);
  }

  .link_singIn:hover {
    color: #222222;
  }

  .p {
    margin: 10px;
  }
}


/*Tablet Vertical*/

@media (min-width:481px) and (max-width:768px) and (orientation:portrait) {
  header {
    padding: 2px;
    background-color: var(--colorHeader);
    box-shadow: 0px 2px 10px var(--colorBlackOpacity);
    border-radius: 50px;
    margin: 10px;
  }

  .headerContainer {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .Logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    width: 170px;
    margin-left: 3rem;
  }

  .Logo img {
    width: 100%;
  }

  .iconsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .linksHeader {
    margin: 0 10px;
    color: var(--colorBlack);
  }

  .linksHeader:hover {
    font-weight: bold;
    color: var(--colorBlack);
    text-decoration: none;
  }

  .iconsContainer>div {
    display: flex;
    align-items: center;
    margin-left: 30px;
  }


  .btnConfig {
    text-decoration: none;
    margin-left: 10px;
    font-size: 20px;
  }

  .hamburguerMenu {
    display: none;
    cursor: pointer;
    margin-left: 1rem;
  }

  .link_singIn {
    text-transform: uppercase;
    margin: 10px;
    color: var(--colorWhite);
  }

  .link_singIn:hover {
    color: #222222;
  }

  .p {
    margin: 10px;
  }
.link_singIn {
  text-transform: uppercase;
  margin: 10px;
  color: var(--colorWhite);
}

/*Cel Horizontal*/
@media (min-width:399px) and (max-width:760px) and (orientation:landscape) {
  header {
    padding: 2px;
    background-color: var(--colorHeader);
    box-shadow: 0px 2px 10px var(--colorBlackOpacity);
    border-radius: 50px;
    margin: 10px;
  }

  .headerContainer {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .Logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 150px;
    margin-left: 3rem;
  }

  .Logo img {
    width: 100%;
  }

  .iconsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .linksHeader {
    margin: 0 10px;
    color: var(--colorBlack);
  }

  .linksHeader:hover {
    font-weight: bold;
    color: var(--colorBlack);
    text-decoration: none;
  }

  .iconsContainer>div {
    display: flex;
    align-items: center;
    margin-left: 30px;
  }


  .btnConfig {
    text-decoration: none;
    margin-left: 10px;
    font-size: 20px;
  }

  .hamburguerMenu {
    display: none;
    cursor: pointer;
    margin-left: 1rem;
  }

  .link_singIn {
    text-transform: uppercase;
    margin: 10px;
    color: var(--colorWhite);
  }

  .link_singIn:hover {
    color: #222222;
  }

  .p {
    margin: 10px;
  }
}

/*Cel Vertical*/
@media (min-width: 320px) and (max-width: 480px) and (orientation:portrait) {
  header {
    padding: 2px;
    background-color: var(--colorHeader);
    box-shadow: 0px 2px 10px var(--colorBlackOpacity);
    border-radius: 50px;
    margin: 10px;
  }

  .headerContainer {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .Logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 140px;
    margin-left: 3rem;
  }

  .Logo img {
    width: 100%;
  }

  .iconsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .linksHeader {
    margin: 0 10px;
    color: var(--colorBlack);
  }

  .linksHeader:hover {
    font-weight: bold;
    color: var(--colorBlack);
    text-decoration: none;
  }

  .iconsContainer>div {
    display: flex;
    align-items: center;
    margin-left: 30px;
  }


  .btnConfig {
    text-decoration: none;
    margin-left: 10px;
    font-size: 20px;
  }

  .hamburguerMenu {
    display: none;
    cursor: pointer;
    margin-left: 1rem;
  }

  .link_singIn {
    text-transform: uppercase;
    margin: 10px;
    color: var(--colorWhite);
  }

  .link_singIn:hover {
    color: #222222;
  }

  .p {
    margin: 10px;
  }
}

@media (max-width: 700px) {
  .hamburguerMenu {
    display: block;
  }

  .iconsContainer {
    display: none;
  }

  .Logo {
    height: 35px;
  }

  .container {
    display: block;
  }
}
}