header {
  padding: 15px;
  background-color: var(--colorWhite);
  box-shadow: 0px 2px 10px var(--colorBlackOpacity);
}

.headerContainer {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.Logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  width: 170px;
  margin-left: 1rem;
}
.Logo img {
  width: 100%;
}
.iconsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.linksHeader {
  margin: 0 10px;
  color: var(--colorBlack);
}
.linksHeader:hover {
  font-weight: bold;
  color: var(--colorBlack);
  text-decoration: none;
}

.iconsContainer > div {
  display: flex;
  align-items: center;
  margin-left: 30px;
}


.btnConfig {
  text-decoration: none;
  margin-left: 10px;
  font-size: 20px;
}
.hamburguerMenu {
  display: none;
  cursor: pointer;
}
.link_singIn {
  text-transform: uppercase;
  margin: 10px;
  color: var(--colorBlack);
}
.link_singIn:hover {
  color: #222222;
}
.p{
  margin: 10px;
}

@media (max-width: 700px) {
  .hamburguerMenu {
    display: block;
  }

  .iconsContainer {
    display: none;
  }
  .Logo {
    height: 35px;
  }
  .container{
    display: block;
  }
}
