.icon-signIn {
  font-size: 20px;
  color: #ffd808;
}

.container-main-avatarContainer{
  display: flex;
}

.link {
  text-decoration: none;
  color: black;
}

.avatarContainer {
  display: flex;
  align-items: center;
}

.avatarContainer div{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #ffd808;
  border-radius: 50%;
}