.icon-signIn {
  font-size: 20px;
  color: var(--colorYellow);
}

.container-main-avatarContainer{
  display: flex;
}

.link {
  text-decoration: none;
  color: var(--colorBlack);
}

.avatarContainer {
  display: flex;
  align-items: center;
}

.avatarContainer div{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--colorYellow);
  border-radius: 50%;
}
.openMenu{
  display: none;
}
.closeMenu{
  display: none;
}
@media (max-width: 700px) {
  .openMenu{
    position: absolute;
    display: block;
    top: 70px;
  }
  .closeMenu{
    display: none;
  }
}