/* ------------- REGISTER --------------- */
a {
  text-decoration: none !important;
}
ul {
  list-style: none !important;
}
button {
  border: none !important;
  outline: none !important;
  cursor: pointer !important;
}
.container_register {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin: 1rem;
}
.container_register_page {
  height: 80%; /*este noesta funcionando*/
  max-width: 776px;
  border-radius: 10px;
  width: 100%;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px;
  background-color: #fff;
}

.register_form {
  margin-top: 30px;
}
.register_form_content {
  margin: 30px;
  display: flex;
  flex-direction: column;
}
.container_register_input {
  width: 100%;
  height: 10%;
  gap: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo_register {
  width: 34%;
  display: block;
  margin: 15px auto;
}
.title_register {
  margin-top: 15px;
  font-size: 20px;
  text-align: center;
}
.button_submit_photo {
  font-weight: bold;
  background-color: #ffd808;
  border-radius: 10px;
  margin: auto;
  padding: 2px;
  width: 20%;
  border: none;
  cursor: pointer;
  display: block;
}
.button_submit_register {
  font-weight: bold;
  background-color: #ffd808;
  margin: 30px auto;
  padding: 10px;
  width: 50%;
  display: block;
  border-radius: 10px;
  border: none !important;
  cursor: pointer !important;
}

.button_return {
    align-self: flex-start;
    background-color: #ffd808;
    border-radius: 10px;
    color: var(--colorBlack);
    display: flex;
    font-weight: bold;
    margin: 30px;
    max-width: 100px;
    padding: 10px;
    text-align: center;
    width: auto;
  }
.button_return:hover {
  background-color: var(--colorBlack);
  color:#ffd808;
  transition: 0.3s;
}
.link_register {
  font-size: 17px;
  text-align: center;
  color: #000;
  font-weight: 600;
}
.container_register_page a:hover {
  color: #ffd808;
}

.form_select {
  height: 35px;
  padding-right: 55px;
  border-radius: 10px;
}
.input_label {
  font-size: 14px;
  margin-right: 40px;
}
.button_submit_register:hover {
  background-color: var(--colorGreenLight);
  color: var(--colorWhite);
  transition: 0.3s;
}
.form_select:hover {
  border: 2px solid #ffd808;
}

/*------------STYLES INPUT-----------*/

.input_register {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.input_register label{
  font-size: 14px;
}

.input_register input{
  width: 100% !important;
  height: 35px;
  margin:10px 0;
  border: 1px solid #6f6f6f;
  outline: none;
  padding: 0 10px;
  border-radius: 10px;
  
}

.input_register input:hover{
  border: 2px solid #ffd808;
}


/* -------------MEDIA QUERIES--------------- */
@media (max-width: 1059px) {
  .container_register_page {
    height: 99%;
  }
  .title_register,
  .link_register {
    font-size: 15px;
  }
}
@media (max-width: 700px) {
  .logo_register {
    width: 50%;
  }

  .container_register_page {
    width: 80%;
    margin: 20px 0;
  }
  .register_form_content {
    margin: 12px;
  }

  .container_register {
    height: 100%;
  }
  .container_register_input {
    gap: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .button_submit_photo {
    margin-top: 8px;
    padding: 6px;
    width: 30%;
  }
  .form_select {
    margin-bottom: 15px;
  }
}
/* -------------MEDIA QUERIES--------------- */
@media (max-width: 600px) {
  .title_register,
  .link_register {
    font-size: 14px;
  }
}
/* -------------MEDIA QUERIES--------------- */
@media (max-width: 460px) {
  .form_select {
    padding-right: 10px;
  }
}
/* -------------MEDIA QUERIES--------------- */
@media (max-width: 370px) {
  .button_submit_photo {
    font-size: 15px;
    margin-top: 8px;
    width: 30%;
  }
  .button_submit_register {
    font-size: 13px;
  }
  .form_select {
    width: 250px;
  }
}
