.formContainer {
    display: flex;
    flex-direction: column;
    justify-items: center;
    min-height: calc(100vh - 150px);
    margin: auto;
    width: 80%;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.typing_demo {
    width: 13ch;
    animation: typing 1s steps(22), blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
}


@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    20% {
        border-color: transparent;
    }
}

.button_return {
    align-self: flex-start;
    background-color: #ffd808;
    border-radius: 10px;
    color: var(--colorBlack);
    display: flex;
    font-weight: bold;
    max-width: 100px;
    padding: 10px;
    text-align: center;
    width: auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.button_return:hover {
    background-color: var(--colorBlack);
    color: #ffd808;
    transition: 0.3s;
}

.img_preview {
    background-color: var(--colorGray);
    width: 35vw;
    height: 35vh;
    margin-bottom: 1.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0px 4px 15px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.image {
    max-height: 98%;
}



.file {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}


.form {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: row;
}

.containerOne {
    display: flex;
    flex-direction: column;
    width: 49vw;
    margin: 1rem;
}

.containerTwo {
    display: flex;
    flex-direction: column;
    width: 49vw;
    margin: 1rem;
}

.line {
    border-bottom: 2px solid black;
    width: 100%;
}

.step {
    width: 70%;
    margin: auto;
}