.formContainer {
  flex-direction: row;
  justify-items: center;
  min-height: calc(100vh - 150px);
  margin: 1rem;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
	margin-bottom: 1rem;
}

.typing_demo {
  width: 13ch; 
  animation: typing 1s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  20% {
    border-color: transparent;
  }
}
.button_return {
  align-self: flex-start;
  background-color: #ffd808;
  border-radius: 10px;
  color: var(--colorBlack);
  display: flex;
  font-weight: bold;
  max-width: 100px;
  padding: 10px;
  text-align: center;
  width: auto;
}
.button_return:hover {
  background-color: var(--colorBlack);
  color: #ffd808;
  transition: 0.3s;
}

.form{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  min-height: calc(100vh - 325px);
}
.input__createBoot {
  width: 100% !important;
  height: 35px;
  margin: 10px 0;
  border: 1px solid #6f6f6f;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  box-shadow: inset 0px 6px 15px rgba(0, 0, 0, 0.2);
}
.textarea__createBoot {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: inset 0px 6px 15px rgba(0, 0, 0, 0.2);
}

.column__one{
  display: flex;
  flex-direction: column;
  width: 50%;
  
}

.column__one input {
  margin-top: 25px;
  margin-bottom: 30px;
}

.column__two {
  margin-top: 1rem;
  width: 50%;
}

.img_preview {
  background-color: var(--colorGray);
  width: 35vw;
  height: 35vh;
  margin-bottom: 1.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0px 4px 15px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.image {
  max-height: 98%;
  max-width: 95%;
  height: auto;
  width: auto;
}

.file {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.container_submit {
	display: flex;
	justify-content: flex-end;
	margin-top: 2rem;
}

.buttonCreateBootcamp{
  display: flex;
  background-color: var(--colorYellow);
  padding: 1.5vh;
  border-radius: 10px;
  margin-right: 4vh;
  -webkit-box-shadow: 0px 3px 0px #97790291;
}

.buttonCreateBootcamp:hover {
  background-color: var(--colorGreenLight);
  color: var(--colorWhite);
  transition: 0.3s;
  -webkit-box-shadow: 0px 3px 0px #0e6b1191;
}

@media only screen and (max-width: 700px) {
  .form{
    flex-direction: column;
    align-items: center;
  }
  .column__one{
    width: 100%;
  }
  
  .img_preview{
    margin-top: 10px;
    width: 100%;
  }
}

