
.container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.container h1 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 25px;
}

.buttonContainer {
  display: flex;
  align-self: flex-end;
  margin-right: 85px;
  margin-top: 7px;
}



