.example h1 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 25px;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.example {
  display: flex;
  flex-direction: column;
}